<div class="container-sm">
    <h1 class="title">Thêm mới thể loại</h1>
    <br>
    <form #form="ngForm" (ngSubmit)="themTL()" novalidate>
        <!-- Thêm thuộc tính 'novalidate' để ngăn chặn kiểm tra tự động của trình duyệt -->
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="nhập tên thể loại" [(ngModel)]="theLoai.tentheloai"
                    name="name" required>
                <label for="name">Tên thể loại</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="note" placeholder="Nhập ghi chú" [(ngModel)]="theLoai.ghichu"
                    name="ghichu">
                <label for="note">Ghi chú</label>
            </div>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-outline-dark" (click)="goBack()">Quay lại</a>
            <button type="submit" class="btn btn-dark" [disabled]="form.invalid">Lưu thay đổi</button>
            <!-- Sử dụng thuộc tính [disabled] để ngăn chặn việc nhấp vào nút khi form không hợp lệ -->
        </div>
    </form>
</div>
