.offcanvas{
    width: 300px;
}

.navbar{
    padding: 0.5rem;
    box-sizing: border-box;
}

.login{
    color: white;
    text-decoration: none;
}

.navbar-brand{
    margin-left: 10px;
    font-size: 30px;
}

.danhmuc{
    font-size: 30px;
}

.home{
    font-size: 20px;
}

::placeholder{
    font-size: 12px;
}

.navbar-nav{
    margin-top: 10px;
}