<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="book navbar-brand">Books Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="sach">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="sach">Sách</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="theloai">Thể loại</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="tacgia">Tác giả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="nhaxuatban">Nhà xuất bản</a>
                </li>
            </ul>
            <div>
                <li class="nav-item ml-auto">
                    <ng-container *ngIf="isLoggedIn; else loginButton">
                        <div class="nav-item">
                            <span class="text-white">Xin chào {{ userName }}</span>
                            <button class="btn btn-danger" (click)="logout()">
                                <i class="fa-regular fa-sign-out"></i> Logout
                            </button>
                        </div>
                    </ng-container>
                    <ng-template #loginButton>
                        <button class="btn btn-success" routerLink="/login">
                            <i class="fa-regular fa-user"></i> Login
                        </button>
                    </ng-template>
                </li>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
