<div class="down">

    <!-- Thêm -->
    <a type="button" class="btn btn-dark" routerLink="themsach">
        <i class="fa-solid fa-plus"></i> Thêm sách
    </a>

    <div class="search">
        <input class="inpS form-control me-2" type="search" placeholder="Tìm kiếm Sách..." aria-label="Search" [(ngModel)]="searchText">
     </div>

    <table class="table table-striped mt-5">
        <thead>
            <th scope="col">Số thứ tự</th>
            <th scope="col">Tên sách</th>
            <th scope="col">Tác giả</th>
            <th scope="col">Nhà xuất bản</th>
            <th scope="col">Giá bán</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Ghi chú</th>
            <th scope="col"></th>
        </thead>
        <tbody *ngIf="dssach && dssach.length > 0">
            <tr
                *ngFor="let sach of dssach | searchSach: searchText | paginate: { itemsPerPage: itemsPPage, currentPage: firstPage }; let i = index ">
                <td>{{i + dem + 1}}</td>
                <td>{{sach.tensach}}</td>
                <td>{{sach.tentacgia}}</td>
                <td>{{sach.nhaxb}}</td>
                <td>{{sach.giaban}}</td>
                <td>{{sach.soluong}}</td>
                <td>{{sach.ghichu}}</td>
                <td>
                    <!-- Sửa xóa -->
                    <a type="button" class="btn btn-outline-dark" routerLink="suaxoasach"
                        [routerLink]="['/sach', 'suaxoasach', sach.id]">
                        <i class="fa-solid fa-eye"></i> Chi tiết
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="paginate">
        <pagination-controls (pageChange)="firstPage = $event"></pagination-controls>
    </div>
</div>

<p *ngIf="!dssach || dssach.length <= 0">Không tìm thấy dữ liệu!</p>