<div class="container-md">
    <h1 class="title">Cập nhật thông tin tác giả</h1>
    <br>
    <form #form="ngForm" (ngSubmit)="suaTG()" novalidate>
        <!-- Thêm thuộc tính 'novalidate' để ngăn chặn kiểm tra tự động của trình duyệt -->
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="nhập tên tác giả" [(ngModel)]="EditDeleteTG.tentacgia"
                    name="name" required>
                <label for="name">Tên nhà xuất bản</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="que" placeholder="nhập quê quán" [(ngModel)]="EditDeleteTG.quequan" name="que" required>
                <label for="que">Quê quán</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="note" placeholder="Nhập ghi chú" [(ngModel)]="EditDeleteTG.ghichu"
                    name="note">
                <label for="note">Ghi chú</label>
            </div>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-outline-dark" (click)="goBack()">Hủy</a>
            <button type="submit" class="btn btn-danger" (click)="xoaTG()">Xóa</button>
            <button type="submit" class="btn btn-dark" [disabled]="form.invalid">Lưu thay đổi</button>
        </div>
    </form>
</div>