<div class="container-md">
    <h1 class="title">Sửa thông tin nhà xuất bản</h1>
    <br>
    <form #form="ngForm" (ngSubmit)="suaNXB()" novalidate>
        <!-- Thêm thuộc tính 'novalidate' để ngăn chặn kiểm tra tự động của trình duyệt -->
        <div class="modal-body">
            <!-- <div class="form-floating mb-3">
                <input type="text" class="form-control" id="id" placeholder="nhập tên NXB" [(ngModel)]="EditDeleteNXB.id"
                    name="id" readonly>
                <label for="id">ID</label>
            </div> -->
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="nhập tên NXB" [(ngModel)]="EditDeleteNXB.tennhaxb"
                    name="name" required>
                <label for="name">Tên nhà xuất bản</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="sdt" placeholder="nhập SĐT" [(ngModel)]="EditDeleteNXB.sdt" name="sdt"
                    (keypress)="onlyNumber($event)" required>
                <label for="sdt">SĐT</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="note" placeholder="Nhập ghi chú" [(ngModel)]="EditDeleteNXB.ghichu"
                    name="note">
                <label for="note">Ghi chú</label>
            </div>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-outline-dark" (click)="goBack()">Hủy</a>
            <button type="submit" class="btn btn-danger" (click)="xoaNXB()">Xóa</button>
            <button type="submit" class="btn btn-dark" [disabled]="form.invalid">Lưu thay đổi</button>
        </div>
    </form>
</div>
