<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid"
            alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form [formGroup]="signupForm">
            <!-- Email input -->
            <div class="text-center">
              <h2>Đăng ký tài khoản</h2>
            </div>

            <!-- Name -->
            <div class="row">
                <div [class.error]="signupForm.controls['firstname'].dirty && signupForm.hasError('required', 'firstname')">
                    <label class="form-label" for="form1Example13">Firstname</label>
                    <input formControlName="firstname" type="text" id="form1Example13" class="form-control form-control-lg"/>
                </div>
                <small *ngIf="signupForm.controls['firstname'].dirty && signupForm.hasError('required', 'firstname')" class="text-danger">*Firstname is required!</small>
                <div [class.error]="signupForm.controls['lastname'].dirty && signupForm.hasError('required', 'lastname')">
                    <label class="form-label" for="form1Example13">Lastname</label>
                    <input formControlName="lastname" type="text" id="form1Example13" class="form-control form-control-lg"/>
                </div>
                <small *ngIf="signupForm.controls['lastname'].dirty && signupForm.hasError('required', 'lastname')" class="text-danger">*Lastname is required!</small>
            </div>
            <div class="form-outline mb-4" [class.error]="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')">
              <label class="form-label" for="form1Example13">Email</label>
              <input formControlName="email" type="email" id="form1Example13" class="form-control form-control-lg"/>
            </div>
            <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')" class="text-danger">*Email is required!</small>
  
            <!-- Password input -->
            <div class="form-outline mb-4" [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">
              <label class="form-label" for="form1Example23">Password</label>
              <input formControlName="password" type="password" id="form1Example23" class="form-control form-control-lg" />
            </div>
            <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')" class="text-danger">*Password is required!</small>

            <!-- RePassword input -->
            <div class="form-outline mb-4" [class.error]="signupForm.controls['repassword'].dirty && signupForm.hasError('required', 'repassword')">
                <label class="form-label" for="form1Example23">Confirm Password</label>
                <input formControlName="repassword" type="password" id="form1Example23" class="form-control form-control-lg" />
              </div>
              <small *ngIf="signupForm.controls['repassword'].dirty && signupForm.hasError('required', 'repassword')" class="text-danger">*Confirm Password is required!</small>
  
            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                <label class="form-check-label" for="form1Example3"> Remember me </label>
              </div>
              <a href="#!">Forgot password?</a>
            </div>
  
            <!-- Submit button -->
            <div class="text-center">
              <button (click)="onSignup()" type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
            </div>
          </form>
          Already have an account? <a routerLink="/login">Sign in</a>
        </div>
      </div>
    </div>
  </section>
  <style>
    .divider:after,
    .divider:before {
      content: "";
      flex: 1;
      height: 1px;
      background: #eee;
    }
  </style>

